body {
    background:  url(../1images/bg-1.jpg);
    color: #ccc;
}

.xdefault-padding{
padding:0;
}
.well-sm{
margin-top:5px;
font-size:11px;
}
.point-out{
background:#1abc9c;
font-weight:bold;
color:#fff;
}
.panel{
border-color:#1abc9c;
border-radius:0;
}
.panel .panel-heading{
border-radius:0;
background:#1abc9c;
border-color:#1abc9c;
}
.volume{
font-size:14px;
}
.x{
color:#1abc9c;
font-weight:bold;
}
.info h2{
color:#cccccc;
}
.info p{
color:#707070;
font-size:15px;
}
.block-1{
	float: left;
	background:oldlace;
	display: block;
	width:180px;
	height:365 px;
	position:relative;
	margin: 1em;
}
.block-right{
position: absolute;
top: 10px;
left: 850px;
}