body {
    background:  url(../images/bg-4.png);
    color: #ccc;
	font-size:12px;
}
#wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.xdefault-padding{
padding:0;
}
.well-sm{
margin-top:5px;
font-size:11px;
}
.point-out{
background:#1abc9c;
font-weight:bold;
color:#fff;
}
.panel{
border-color:#1abc9c;
border-radius:0;
}
.panel .panel-heading{
border-radius:0;
background:#1abc9c;
border-color:#1abc9c;
}
.volume{
font-size:14px;
}
.x{
color:#1abc9c;
font-weight:bold;
}
.info h2{
color:#cccccc;
}
.info p{
color:#707070;
font-size:15px;
}
.block-1{
	float: left;
	background:oldlace;
	display: block;
	width:180px;
	height:365 px;
	position:relative;
	margin: 1em;
}
.aboutAmit{
	position: relative;
	display: block;
	float: left;
	top: -110px;
	left: 70px;
	color: #000099;
	font-weight:bold;
}
.aboutAmit a{
	color: #000099;
}
.aboutAmit a:hover {
    text-decoration: underline;
}

.footer_container{
	position:relative;
	display: block;
	width: 100%;
	height:40px;
	background:url(../images/bg.png) repeat-x top center;
	text-align:center;
	color: #fff;
}
.footer_counter{
	position: relative;
	display: block;
	float: none;
	top: 5px;
	color: #000099;
	font-weight:bold;
}

.cube_top, .cube_bottom {
    border-left: 19px dashed transparent;
    border-right: 19px dashed transparent;
    clear: both;
    margin: 0 -36px;
}
.cube_top {
    border-bottom: 17px solid #d3d9dc;
    margin-bottom: 25px;
    margin-top: -36px;
    position: relative;
    z-index: 1;
}
.cube_top::after {
    content: "";
    height: 1px;
    left: -4px;
    position: absolute;
    top: 17px;
    width: 101%;
}

