body {
    background:  url(../images/bg-4.png);
    color: #ccc;
	font-size:12px;
}

.xdefault-padding{
padding:0;
}
.well-sm{
margin-top:5px;
font-size:11px;
}
.point-out{
background:#1abc9c;
font-weight:bold;
color:#fff;
}
.panel{
border-color:#1abc9c;
border-radius:0;
}
.panel .panel-heading{
border-radius:0;
background:#1abc9c;
border-color:#1abc9c;
}
.volume{
font-size:14px;
}
.x{
color:#1abc9c;
font-weight:bold;
}
.info h2{
color:#cccccc;
}
.info p{
color:#707070;
font-size:15px;
}
.block-1{
	float: left;
	background:oldlace;
	display: block;
	width:180px;
	height:365 px;
	position:relative;
	margin: 1em;
}
.aboutAmit{
	position: relative;
	display: block;
	float: left;
	top: -110px;
	left: 90px;
	color: #000099;
	font-weight:bold;
}
.aboutAmit a{
	color: #000099;
}
.aboutAmit a:hover {
    text-decoration: underline;
}

#Section .RunacoMenu {
    background: #df3a00 none repeat scroll 0 0;
    float: left;
    height: 160px;
    list-style: outside none none;
    margin: 0;
    padding: 40px 0 0 32px;
    width: 165px;
}
#Section .RunacoMenu li {
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}
#Section .RunacoMenu a {
    color: #fff;
    text-decoration: none;
}
#Section .RunacoMenu a:hover {
    text-decoration: underline;
}